NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_KEY=your_supabase_key_here
VIPPS_CLIENT_ID=your_vipps_client_id_here
VIPPS_CLIENT_SECRET=your_vipps_client_secret_here
VIPPS_MERCHANT_SERIAL=your_merchant_serial_here
ADMIN_PASSWORD=admin123
